* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(243, 235, 235);
    /* overflow: hidden; */
}

button {
    background: grey;
    color: white;
    border-radius: 9px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background: rgb(158, 154, 154);
}

h1 {
    font-size: 30px;
}

/* -----------------------------------------main-info--------------------------------- */
.main-info {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    width: auto;
    height: 80vh;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;


    h1,
    p {
        margin-bottom: 10px;
    }


    img {
        border-radius: 50%;
        height: 350px;
        width: 350px;
    }

    #description {
        margin-top: 10px;
        text-align: center;
    }
}

#resume {
    width: 210px;
    margin: 40px 0;
}

/* --------------------------------------------skills------------------------------------------------------- */
#skills-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0 25px;
    margin-bottom: 50px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
}

.skills {
    border: 1px double black;
    border-radius: 80px 20px;
    width: 15%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* padding: 15px 0;
    margin: 30px 0; */
}

.skills h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 6px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.skills ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills ul li {
    list-style: none;
    padding-top: 10px;
}

#table,
tr,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

#table,
th,
td {
    padding: 10px 15px;
}


.projects {
    overflow-x: scroll;
    scrollbar-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    padding: 0 10px;
    /* border: 2px solid red; */
}
.projects::-webkit-scrollbar{
  /* width: 100px; */
}

#skills-projects>h1 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 6px;
    /* border: 2px solid blue; */
}

/* -----------------------------------------contact------------------------------------------------------ */

.contact {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 98%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}

.contact h1 {
    letter-spacing: 6px;
}

.contact p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

.contact div {
    margin-top: 10px;
}

.TextArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.full-name {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    gap: 10px;
}

/* .email-address{
    width: 300px;
} */
#email {
    width: 300px;

}

/* -------------------------------------button------------------------------------------ */
.button {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-submit {
    height: 30px;
    width: 90px;
}




/* --------------------------------------------------------------media query------------------------------------------------------------------- */

@media screen and (max-width: 1090px){
   .skills{
       width: 150px;
    }
} 
@media screen and (max-width: 360px){
    .main-info{
        /* background-color: red; */
        height: 850px;

        #header, #phone{
           text-align: center;
        }
    }

}
@media screen and (max-width: 390px) {

    .full-name,
    .email-address,
    .phone,
    .date-of-birth,
    .linkedin-profile,
    .TextArea {
        /* border: 2px solid red; */
        width: 250px;
        display: flex;
        flex-direction: column;
    }
    #email{
        width: 260px;
    }

}